<h1><%= "Your" if !@store %> Coupons<%=" for #{@store.name}" if @store %> </h1>

<ul>
  <% @coupons.map do |coupon| %>
    <% if current_user.id == coupon.user_id %>
      <li><%= link_to coupon.product_name, coupon_path(coupon) %></li>
    <% end %>
  <% end %>
</ul>
<br><br>
<% if @store %>
  <p><%= link_to "Add a New Coupon for #{@store.name}", new_store_coupon_path(@store)%></p>
  <% end %>